table td > span[class*=' price-axis-currency-label-text-'],
table td > span[class^='price-axis-currency-label-text-'] {
    color: limegreen!important;
    font-size: 18px;
}

.chart-markup-table.price-axis-container div div div[class*=' gear-'],
.chart-markup-table.price-axis-container div div div[class^='gear-'] {
    display: none;
}

.chart-gui-wrapper div[class*=' objectsTreeCanBeShown-'],
.chart-gui-wrapper div[class^='objectsTreeCanBeShown-'] {
    display: none;
}

.chart-gui-wrapper div[class*=' onlyOneButtonCanBeStick-'],
.chart-gui-wrapper div[class^='onlyOneButtonCanBeStick-'] {
    flex-direction: unset;
}

.chart-gui-wrapper div[class*=' onlyOneButtonCanBeStick-'] div[class^='valuesWrapper-'],
.chart-gui-wrapper div[class^='onlyOneButtonCanBeStick-'] div[class^='valuesWrapper-']{
    align-self: unset;
}


