
body {
    min-height: 100%;
}

body .badge {
    font-size: 1em;
}

body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

footer {
    margin-top: 50px;
    text-align: center;
}

header.site-header nav {
    border: none !important;
}

.site-header .container-xxl {
    position: relative;
}

.site-header .container-xxl .separator {
    height: 1px;
    background-color: #282828;
    position: absolute;
    width: calc(100% - 30px);
    bottom: -2px;
    left: 17px;
}


.menu-link-chart .nav-link,
.menu-link-info .nav-link {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.menu-link-chart .nav-link:hover,
.menu-link-chart .nav-link:focus,
.menu-link-info .nav-link:hover,
.menu-link-info .nav-link:focus {
    color: #cc6d00 !important;
}

.navbar-dark .navbar-nav .menu-link-chart .nav-link.active,
.navbar-dark .navbar-nav .menu-link-info .nav-link.active {
    color: #fff !important;
}

.logo-wrap {
    height: 71px;
    z-index: 2;
}

.copy-btn-sm {
    z-index: 10;
    padding: 0 3px 2px 3px;
}

.copy-btn-sm-white:not(:hover) {
    color: #fff;
    border-color: #fff;
}

.copy-btn-sm-black:not(:hover) {
    color: #000;
    border-color: #000;
}

.copy-btn-sm:focus {
    box-shadow: none;
}

.link-dark:hover {
    color: #fff;
}

.d3x-text-white {
    color: #ddd;
}

.d3x-text-gray {
    color: rgba(255, 255, 255, .55);
}

.d3x-no-underline {
    text-decoration: none;
}
.d3x-fs-7 {
    font-size: 0.75rem!important;
}

.d3x-tooltip-success .tooltip-inner {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important
}

.d3x-tooltip-success .tooltip-arrow::before {
    --bs-bg-opacity: 1;
    border-right-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important
}

.hide {
    display: none;
}

input[type=range] {
    touch-action: none;
}

/* Toastify overrides */
.Vue-Toastification__container .Vue-Toastification__toast--info {
    border-radius: 6px;
    background-color: rgb(34, 34, 34);
    border-bottom-color: rgb(40, 40, 40);
    min-height: 40px;
    padding: 10px 8px;
}

.Vue-Toastification__container .Vue-Toastification__close-button {
    padding-left: 2px;
}

@media only screen and (max-width: 600px) {
    .Vue-Toastification__container .Vue-Toastification__toast {
        border-radius: 0;
        padding: 5px 12px;
    }
    .Vue-Toastification__container .Vue-Toastification__toast .container {
        border-radius: 0;
        padding: 0 5px;
    }
}
@media only screen and (min-width: 451px) and (max-width: 600px) {
    .Vue-Toastification__container .Vue-Toastification__close-button{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 450px) {
    .Vue-Toastification__container .msg-small {
        font-size: 15px;
    }
}



.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

.doge-logo img {
    width: 220px;
}

.page-chart .doge-logo img {
    width: 176px;

}

.my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

@media (max-width: 992px) {
    .logo-wrap {
        height: 51px;
    }

    .doge-logo img {
        width: 110px;
    }

    .page-chart .doge-logo img {
        width: 110px;
    }

    .site-header .container-xxl .separator {
        bottom: 2px;
    }

    .my-5 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
}


/** Vue transitions */
.slide-down-enter-active,
.slide-down-leave-active {
    transition: max-height 0.8s ease-in-out;
}
{
    animation-duration: 0.8s;
    animation-name: slideUp;
}
.slide-down-enter-to, .slide-down-leave-from {
    max-height: 100px;
    overflow: hidden;
}

.slide-down-enter-from, .slide-down-leave-to {
    overflow: hidden;
    max-height: 0;
}
