
body {
    min-height: 100%;
}
body .badge {
    font-size: 1em;
}
body.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}
footer {
    margin-top: 200px;
    text-align: center;
}

header.site-header nav {
    border: none!important;
}
.site-header .container {
    border-bottom: 1px solid #282828;
}
@media (min-width: 1200px) {
    .site-header .container {
        max-width: 960px;
    }
}

@media (max-width: 991px) {
    #site-navbar {
        margin-left: calc(100% - 160px);
    }
}

.menu-link-analytics .nav-link {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
}
.menu-link-analytics .nav-link:hover,
.menu-link-analytics .nav-link:focus {
    color: #cc6d00!important;
}

.logo-wrap {
    height: 71px;
}

.copy-btn-sm {
    z-index: 10;
    padding: 0 3px 2px 3px;
}
.copy-btn-sm-white:not(:hover){
    color: #fff;
    border-color: #fff;
}
.copy-btn-sm-black:not(:hover){
    color: #000;
    border-color: #000;
}
.copy-btn-sm:focus{
    box-shadow: none;
}

.d3x-text-white {
    color: #ddd;
}

.d3x-tooltip-success .tooltip-inner {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important
}

.d3x-tooltip-success .tooltip-arrow::before {
    --bs-bg-opacity: 1;
    border-right-color: rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important
}

.hide {
    display: none;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
